
    .items{
        width: 100%;
        min-height: 1.7rem;
        background: #f6f6f6;
    }
    .item{background: #fff;border-top: .08rem solid #f6f6f6;}
    .title{
        height: .64rem;
        line-height: .64rem;
    }
    .title a{
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: .14rem;
        color: #333;
    }
    .title a h3{display: inline-block;}
    .title a i{display: inline-block;}
    .itemsBox{min-height: 1.7rem; overflow: hidden; }
    .itemAd{
        width: 100%;
        height: 1.6rem;
    }
    .itemAd img{width: 100%;height: 100%;}
    .itemDiv{
        width: 1.04rem;
        height: 1.45rem;
        padding: .1rem .08rem .15rem;
    }
    .imgBox{
        display: block;
        margin: 0 auto;
        width: .96rem;
        height: 1rem;
        position: relative;
    }
    .imgBox img{width: 100%;height: 100%;}
    .imgBox span{
        display: block;
        width: .14rem;
        height: .3rem;
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid #333;
        border-radius: .02rem;
        color: #333;
        font-size: .08rem;
        line-height: .14rem;
        text-align: center;
    }
    .msg{
        font-size: .13rem;
        color: #3a3a3a;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: .06rem;
    }
    .price{
        width: 100%;
        height: .48rem;
        position: relative;
    }
    .price span{
        display: block;
        color: #ff8000;
        width: 100%;
        height: .2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        font-size: .12rem;
    }
    .price i{
        display: block;
        width: .16rem;
        height: .16rem;
        line-height: .16rem;
        text-align: center;
        color: #ff8000;
        border: 1px solid #ccc;
        border-radius: 50%;
        position: absolute;
        right: .02rem;
        top: .01rem;
    }