.bggoodslist .addpro{
	position:absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 0.166667rem;
	height: 6.0rem;
	width: 4.666667rem;
	background:#fff;
	border-radius:0.133333rem;
	box-shadow: 0 0 0.026667rem 0.026667rem #ccc;
}

.bggoodslist .addpro label{
	width: 4.0rem;
	display: block;
	font-size: 0.203333rem;
}
.bggoodslist .addpro .form-group{
	display: block;
}
.bggoodslist .addpro input{
	width: 4rem;
	height: 0.36667rem;
}
.bggoodslist .searchBox{
	width: 4.666667rem;
	height: 0.866667rem;
}
.bggoodslist .searchBox input{
	height: 0.4rem;
	width: 2.666667rem;
	outline: none;
}
.bggoodslist .searchBox button{
	width: 0.666667rem;
	margin: 0;
	padding: 0.04rem 0.133333rem;
}

.bggoodslist table img{
	height: 0.8rem;
	line-height: 0.8rem;
}

.bggoodslist table span{
	display:inline-block;
	width: 3.666667rem;
	line-height: 0.4rem;
	font-size: 0.203333rem;
}
.bggoodslist table tr{
	height: 0.133333rem;
	padding: 0;
}
.bggoodslist input{
	display: inline-block;
}
.bggoodslist .deletePro{
	padding: 0.04rem 0.066667rem;
	margin-right: 0.066667rem;
	margin: 0;
	width: 0.666667rem;
}
.bggoodslist .close{
	position:absolute;
	right: 0.133333rem;
	top: 0.133333rem;
	font-size:0.333333rem;
}
.bggoodslist .bgmark{
	position:fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.1);
}
.bggoodslist .pagination{
	float: right;
	overflow: hidden;
	display: block;
	margin: 20px 0;
}
.bggoodslist .bag_list{
	overflow-x: hidden;
	height: 20.0rem;
}

