html,body{
    height: 100%;
}
#ttgy{
    height: 100%;
    /*设置成弹性盒子，并且设置主轴为垂直向下*/
    display: flex;
    flex-direction: column;
}

.home_main{
	flex:1;
	overflow-x: hidden;
}
.home_nav{
    display:flex;

    height: .42rem;
    align-items: center;
    box-shadow: 0 1px 1px #ccc;
    border-top: .03rem solid #d6d6d6;
}
.home_nav a{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-size:.1rem;
    color: #898989;
}
.home_nav a i{
    font-size: .24rem;
}
.router-link-exact-active{
    color: #65a032;

}
