.mangerMain{
	background: #eff;
}
.mangerMain *{
	margin: 0;
	padding: 0;
}
.mangerMain{

}
.head{
	background: #fff;	
	padding: 0.133333rem 0;
	margin-bottom: 0.133333rem;
	box-shadow: 0 -0.013333rem 0.026667rem 0.013333rem #ccc;
}

.container{
	width: 17.333333rem;
}
.nav{
	width: 2.666667rem;
	height: 5.333333rem;
	float: left;
	background: #fff;
	padding-left: 0.133333rem;
}

.nav ul li{
	border-bottom: 0.013333rem solid #ccc;
	padding: 0.066667rem;
	margin-bottom: 0.066667rem;
}
.nav a{
	font-size:0.213333rem;
}
.content{
	overflow-x: hidden;
	float: right;
	width: 13.333333rem;
	/*height: 480px;*/
	background: #fff;
	position:relative;

}
table button{
	padding: 0.04rem 0.066667rem;
}